.main-nav {

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    justify-content: flex-end;
  }

  &__item {
  margin: 0 0 0 30px;

    &:first-child {
      margin: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $sapphire-blue;

    &[href]:hover {
      color: $orange-kraiola;
    }

    &[href]:active {
      opacity: 0.6;
    }
  }
}
