.rooms {
  position: relative;
  
  &::before {
    position: absolute;
    top: 100px;
    left: -200px;
    width: 20px;
    width: 484px;
    height: 20px;
    height: 151px;
    background-image: url(../../img/rooms-pattern.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }
  
  &__title {
    padding: 80px 0;
  }
}
