.services {
  position: relative;

  &::before {
    position: absolute;
    top: -10px;
    right: -180px;
    z-index: -1;
    width: 349px;
    height: 426px;
    background-image: url(../img/services-pattern.svg);
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }

  &__title {
    padding: 80px 0;
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  &__item {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  }

  &__item-icon {
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $citric-yellow;

    justify-content: center;
    align-items: center;
  }

  &__item-svg {
    position: relative;

    fill: $white;
  }

  &__item-title {
    font-size: 22px;
    font-family: $Rubik;
    line-height: 26px;
  }

  &__item-text {
    max-width: 300px;
    font-size: 16px;
    line-height: 22px;
  }
}