.slider {
  position: relative;

  &__slide {
    position: relative;
    display: flex;
    animation-name: fade;
    animation-duration: 1.5s;

    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: left;
  }

  &__img {
    width: 600px;
    height: 404px;

    object-fit: contain;
    object-position: bottom;
  }

  &__content {
    margin: 0 0 0 -80px;
    padding: 40px 112px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  }

  &__title {
    padding: 20px 0;
    font-size: 22px;
    line-height: 26px;
  }

  &__slide-list {
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
  }

  &__slide-item {
    position: relative;
    padding: 0 0 0 20px;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      content: "";
      transform: translateY(-50%);
    }
  }

  &__dots-item {
    z-index: 555;
    display: inline-block;
    margin: 0 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #E1E1E1;
    cursor: pointer;
    transition: 0.6s ease;
  }

  &__dots {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);

    &--active {
      background-color: $citric-yellow;
    }
  }
}