$white: #FFFFFF;
$black: #000000;
$sapphire-blue: #1A212F;
$snow-white: #FFFEFD;
$orange-kraiola: #FF7236;
$citric-yellow: #FAC663;

$Rubik: "Rubik", "Tahoma", sans-serif;
$Lato: "Lato", "Arial", sans-serif;
